<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMX-xW3fQum7M0_KRao1Ct1cIQk7eDI0E</string>
	<key>GCM_SENDER_ID</key>
	<string>412335548146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rizkyeky.TimeAndClock</string>
	<key>PROJECT_ID</key>
	<string>timeandclock-be7c6</string>
	<key>STORAGE_BUCKET</key>
	<string>timeandclock-be7c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412335548146:ios:2f5da8d370c0b33516526b</string>
</dict>
</plist>